#foto {
    width: 200px;
    margin: 2rem 0;
    border-radius: 50%;
    /*border: 2px solid black;*/
}

.contenedor {
    background-color: black;
    padding-bottom: 1rem;
}

.seccion-bienvenida {
    margin: 5rem 0 5rem 0;
}

    .seccion-bienvenida h1 {
        margin-bottom: 1rem;
        color: red;
        font-style: italic;
    }

    .seccion-bienvenida p {
        font-family: sans-serif;
        line-height: 1.5;
        font-size: 1.25rem;

    }

#imagen-dotnet {
    width: 350px;
}

.cabecera {
    font-weight: bold;
}

.marco {
    margin-top: 2rem;
}

.habilidades ul {
    list-style: none;
    padding-left: 0;    
}

.habilidades i {
    color: #0d6efd;
    font-size: 50px;
}

.gif-image {
    margin: 20px;
    width: 50rem;
    justify-content: center;
} 
