@{
    DateTime fecha = DateTime.Now;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portafolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portafolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #7642b2">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/yo.jpg" class="rounded-circle" alt="Imagen_Porta" style="width:60px; height: 60px" />
                </a>
                @* <a class="navbar-brand fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Index">Portafolio</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1" style="align-content:end !important">
                        <li class="nav-item headers">
                            <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Index">Principal</a>
                        </li>
                        <li class="nav-item headers">
                            <a class="nav-link fw-bold text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Time Line Profesional</a>
                        </li>
                        <li class="nav-item headers">
                            <a class="nav-link fw-bold text-white" asp-controller="Home" asp-action="Proyectos">Proyectos</a>
                        </li>
                        <li class="nav-item headers">
                            <a class="nav-link fw-bold text-white" asp-controller="Home" asp-action="Contacto">Contacto</a>
                        </li>
                    </ul>
                    <h4 class="fecha text-white fw-bolder"><small>@fecha.ToString("dd/MMMM/yyyy")</small></h4>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #7642b2">
        <div class="container text-white fw-bold">
            &copy; 2024 - Portafolio - <a class="text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Mas información aqui</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
