<div style="margin-top: -85px">
    <div class="row justify-content-md-center text-center marco">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray; background-color:black">
            <i class="bi bi-hdd-fill" style="font-size:8rem"></i>
            <h3 class="text-primary fw-bold">Back-End</h3>
            <p>Trabajo de manera ardua y segura en la creacion de codigo Back-End seguro y robusto.</p>
            <p class="text-primary cabecera" style="font-size:2rem">
                Stack:
            </p>
            <p>
                Asp.Net, Asp.Net Core, WebForms, Aspx, SQL Server, NodeJS, C#, ExpressJS.
            </p>
            <p class="text-primary cabecera" style="font-size:2rem">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP .NET Core MVC</li>
                <li>MVC 5 Netframework</li>
                <li>Entity Framework Core</li>
                <li>NodeJS</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash" style="font-size:8rem"></i>
            <h3 class="text-primary fw-bold">Front-End</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera" style="font-size:2rem">
                Stack:
            </p>
            <p>
                Lenguaje de modelado XML, JQuery, Fetch, Ajax, Axios, HTML, BoosTrap.
            </p>
            <p class="text-primary cabecera" style="font-size:2rem">
                Experiencia:
            </p>
            <ul>
                <li>Razor</li>
                <li>HTML5</li>
                <li>Boostrap 5</li>
                <li>Hojas de estilo CSS</li>
                <li>XAML</li>
                <li>XML</li>
            </ul>
        </div>

        <div>
            <img src="~/img/pc.gif" class="gif-image"  alt="gif-pc"/>
        </div>

    </div>
</div>

