<div style="margin-top: -85px">
    <div class="row justify-content-md-center text-center marco">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray; background-color:black">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back end</h3>
            <p>Trabajo en desarrollo web y desarrollo movil.</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Asp.Net, Asp.Net Core, WebForms, Aspx, SQL Server, NodeJS, C#, ExpressJS.
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP .NET Core MVC</li>
                <li>MVC 5 Netframework</li>
                <li>Entity Framework Core</li>
                <li>NodeJS</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front end</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                VueJs, Angular, JQuery, Fetch, Ajax, Axios, HTML, BoosTrap.
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Vuex and Pinia</li>
                <li>Vuetify</li>
                <li>Angular Material</li>
                <li>Redux</li>
                <li>Leaflet</li>
                <li>Test Automatizados</li>
            </ul>
        </div>

        <div>
            <img src="~/img/pc.gif" class="gif-image"  alt="gif-pc"/>
        </div>

    </div>
</div>

