@{
    DateTime fecha = DateTime.Now;
}


<div class="text-center">
    <h1 class="display-5"><strong>Sergio Yael Trejo Maya</strong></h1>
    <p>Desarrollador Web en Tecnologias .Net</p>
    <h4><small>Fecha: @fecha.ToString("dd/MM/yyyy hh:mm:ss tt")</small></h4>
    <img id="foto" src="~/img/Icon.jpg" alt="foto de usuario" />
</div>
<div class="text-center">
    <img src="~/img/NETCORE.gif" alt="dot-net" id="imagen-dotnet" />
</div>
<div class="row justify-content-center text-center contenedor" >
    <div class=" col col-md-7 shadow-lg p-3 mb-5 bg-body rounded border border-2 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p class="text-info">
            He desarrollado software profesionalmente desde el 2023 y he tenido la suerte de trabajar en el desarrollo de
            un proyecto enfocado en la digitalización de auditorias enfocadas en la evaluación de la metodologia 5'S,
            de la mano de la empresa Productos Laminados de Monterrey S.A. de C.V. he desarrollado una aplicación movil
            programada en Xamarin.Forms haciendo uso de C#, lenguaje de modelado XAML así como uso de Firebase como base
            de datos'.
        </p>
    </div>
</div>
