@{
    DateTime fecha = DateTime.Now;
}


<div class="text-center">
    <div class="" style="background-color:black">
        <h1 class="display-5 nombre"><strong>SERGIO YAEL TREJO MAYA</strong></h1>
        <p class="text-mov">DESARROLLADOR WEB Y MOVIL EN TECNOLOGIAS .NET Y XAMARIN.FORMS</p>
    </div>
    
</div>
<div class="row justify-content-center text-center contenedor">
    <div class="col col-md-7 shadow-lg p-3 mb-5 rounded border border-2 seccion-bienvenida">
        <h1 class="fw-bolder text-change">BIENVENIDO A MI PORTAFOLIO</h1>
        <img id="foto" src="~/img/yo.jpg" alt="foto de usuario" />
        <p class="text-white">
            He desarrollado software profesionalmente desde el 2023 y he tenido la suerte de trabajar en el desarrollo de
            un proyecto enfocado en la digitalización de auditorias enfocadas en la evaluación de la metodologia 5'S,
            de la mano de la empresa Productos Laminados de Monterrey S.A. de C.V. he desarrollado una aplicación movil
            programada en Xamarin.Forms haciendo uso de C#, lenguaje de modelado XAML así como uso de Firebase como base
            de datos'.
        </p>
    </div>
</div>
<div class="text-center" style="padding-bottom: 5rem">
    <img style="width:40rem" src="~/img/NETCORE.gif" alt="dot-net" id="imagen-dotnet" />
</div>

