@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 2rem;">
        <h1 class="fw-bold">¡MIRA EN LO QUE EH TRABAJADO!</h1>
        <h4 class="fw-bold">ESTOS SON MIS TRABAJOS MAS RECIENTES</h4>
    </div>
    
    <partial name="_ListaProyectos" model="Model"/>

}
