

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>Desarrollo e Ingenieria Profesional</h4>
            <ul class="timeline">
                <li>
                    <a target="_blank" href="https://www.totoprayogo.com/#">Arquitecto Desarrollador en .NET</a>
                    <a href="#" class="float-rigth">21 Enero, 2022</a>
                    <p>
                        Desarrollo e implementación de la pltaforma web para el 
                        activismo politico y votación electoral municipal. (SAPVM)
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
