@model HomeIndexVM

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <partial name="_Presentacion" />

    <partial name="_Habilidades" />

    <partial name="_ProyectosSeccion" model="Model.Proyectos" />
    
</div>



