<link rel="stylesheet" href="~/css/TimeLine.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Time Line Profesional";
}
<h1>
    <i class="bi bi-github"></i>
    @ViewData["Title"]
</h1>

<p class="text-danger">Evolución Profesional en el área de Desarrollo de software</p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-lg p-3 nb-5 bg-body-tertiary rounded">
                <div class="card-body">
                    <h5 class="card-title">TSU. Sergio Yael Trejo Maya</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Resumen Profesional</h6>
                    <p class="card-text">
                        Estudiante de la carrera de Ingenieria en Desarrollo y Gestion de Software en la Universidad Tecnologica de Tula-Tepeji, 
                        con conocimientos de la carrera desde mi etapa de bachillerato, actualmente graduado como TSU, me encuentro cursando el 
                        8vo cuatrimestre de la carrera, de la mano de mis profesores, en especial del Profesor Erick Bravo, eh logrado desarrollar 
                        proyectos de alta gama, actualmente me encuentro trabajando en PROLAMSA en el área de mejora continua como desarrollador.
                    </p>
                    <a href="#" class="btn btn-outline-danger">
                        <i class="bi bi-1-square-fill"></i>
                        Github
                    </a>

                    <a href="#" class="btn btn-outline-secondary n-1">
                        <i class="bi bi-2-square-fill"></i>
                        Universidad
                    </a>

                    <a href="#" class="btn btn-outline-warning">
                        <i class="bi bi-3-square-fill"></i>
                        Work IT
                    </a>

                    <a href="#" class="btn btn-outline-success n-1">
                        <i class="bi bi-activity"></i>
                        Sigueme...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_TimeLine" />
